.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100vh;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
}

.main{
  display: flex;
  height: 100vh;
}


.container{
  flex-grow: 1;
  padding: 2em;
  background-image: url('../public/Screenshot_3.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color:rgb(8, 7, 7);
}
.title{
  font-size: 3em;
}

.subtitle{
  font-size :2em;
  color:rgb(235, 66, 63);
}

.info{
  background-color: rgb(169, 233, 118);
  font-size: 1.1em;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 1.5em;
  border: 5px solid green;
  color:rgb(8, 7, 7);
}
.btn{
  margin: 0 auto;
  border: none;
  outline: none;
  padding: .75em 1em;
  font-size: 1em;
  letter-spacing: 1px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .4);
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: rgb(169, 233, 118);
  color: #fff;
}

.sidebar{
  width: 260px;
  flex-shrink: 0;
  background-color: rgba(22, 22, 22, 1);
  height: 100%;
  overflow: auto;
}

.p-ekipa{
  background-color:rgb(169, 233, 118);
  text-align: center;
  font-size: 25px;
  width: 900px;
  border: 5px solid green;
  padding: 2em;
  margin: 100px;
}


.sidebar-item{
  padding: .75em 1em;
  display: block;
  transition: background-color .15s;
  border-radius: 5px;
}
.sidebar-item:hover{
  background-color: rgba(255, 255, 255, .1);
}

.sidebar-title{
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
}
.sidebar-title span i{
  display: inline-block;
  width: 1.5em;
}
.sidebar-title .toggle-btn{
  cursor: pointer;
  transition: transform .3s;
}
.sidebar-item.open > .sidebar-title .toggle-btn{
  transform: rotate(180deg);
}
.sidebar-content{
  padding-top: .25em;
  height: 0;
  overflow: hidden;
}
.sidebar-item.open > .sidebar-content{
  height: auto;
}

.sidebar-item.plain{
  color: #fff;
  text-decoration: none;
}
.sidebar-item.plain:hover{
  text-decoration: underline;
}
.sidebar-item.plain i{
  display: inline-block;
  width: 1.7em;
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

}

input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;

}

 button {
  width: 320px;
  height: 50px;
  margin-top: 15px;
} 

 button:hover {
  cursor: pointer;
}

.energija {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
}

.energiaj1 {
  width: auto;
  height: auto;
  border: 1px solid black;
  margin: 3px;
  display: flex;
  padding: 5px;
  font-family: 'Courier New', Courier, monospace;
}

.energiaj1 h3 {
  margin: 20px;
}


.abc {
  position: relative;
  background-image: url('../public/CarbonFootPrint.jpg');
  background-size: auto;
background-size: auto;
  width: 1000px;
  height: 370px;
}

.b {
  position: absolute;
  left: 20px;
  width: 450px;
  height: 330px;
  border: 3px solid green;
  background-image: url('../public/Carbon_footprint_icon.png');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: bottom right;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
} 

.c {
  position: absolute;
  right: 20px;
  width: 450px;
  height: 330px;
  border: 3px solid green;
  background-color: white;
  background-image: url('../public/download.png');
  background-size: 400px;
  background-repeat: no-repeat;
 background-position: center;
} 